.form {
  width: 70%;
}

.formWrapper {
  align-items: top;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.h1Styles {
  background-color: 'rgb(255, 255, 255)';
  position: 'absolute';
  right: 0;
  bottom: '2rem';
  padding: '0.5rem';
  font-family: 'sans-serif';
  font-size: '1.5rem';
  box-shadow: '0 0 10px rgba(0, 0, 0, 0.3)';
}

.submit {
  margin: 0 auto;
}